.styleLink {
  text-decoration: none;
  color: black;
}

.styleLinkHome {
  text-decoration: none;
  color: black;
  display: flex;
}

.arrows {
  font-size: 3rem;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.arrows:hover {
  color: #212121;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

@media(max-width:576px) {
  #ViewAll {
    display: none !important;
  }

  #ProductTitle {
    justify-content: center !important;
  }
}